<div class="container mt-5">
 <h1>簡単シフト</h1>
 <div class="row mt-5">
  <div class="col-md-9">
   <h5>シフト入力</h5>
   <%= form_with model: @event do |f| %>
   
    <div class="form-group">
     <%= f.label :日付 %>
     <%= f.date_field :date, class: 'form-control bootstrap-date-only-width' %>
    </div>
   
    <div class="form-group">
     <%= f.label :始まり %>
     <%= f.time_select :start, {}, class: 'form-control bootstrap-date-only-width' %>
    </div>
   
    <div class="form-group">
     <%= f.label :終わり %>
     <%= f.time_select :finish, {}, class: 'form-control bootstrap-date-only-width' %>
    </div>
    
    <div class="form-group">
     <%= f.label :担当者 %>
     <%= f.collection_select :person, User.all, :name, :name, {}, class: 'form-control bootstrap-date-only-width' %>
    </div>
    <%= f.submit"入力" %>
   
   <% end %>
   
  </div>
  
  <div class="col-md-3">
   <h5>新規スタッフ</h5>
    <%= form_with model: @user do |f| %>
    <div class="form-group">
     <%= f.label :名前 %>
     <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit"登録" %>
   <% end %>
  </div>
 </div>
 
 <div class="row mt-5">
  <div class="col-md-9">
   <h5>シフト一覧</h5>
   <table class="table">
    <thead>
     <tr>
      <th>日付</th>
      <th>曜日</th>
      <th>担当者</th>
      <th>始まり</th>
      <th>終わり</th>
      <th>ステータス</th>
     </tr>
    </thead>
    <tbody>
     <% @events.each do |event| %>
     <tr>
      <td>
       <%= event.date %>
      </td>
 
      <td>
       <%= @day[event.date.wday] %>
      </td>
 
      <td>
      　<%= event.person %>
      </td>
 
      <td>
       <%= event.start.strftime('%H:%M') %>
      </td>
 
      <td>
       <%= event.finish.strftime('%H:%M') %>
      </td>
 
      <td>
      </td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
  
  <div class="col-md-3">
   <h5>スタッフ一覧</h5>
   <table class="table">
    <thead>
     <tr>
      <th>名前</th>
     </tr>
    </thead>
    <tbody>
     <% @users.each do |user| %>
     <tr>
      <td>
       <%= user.name %>
      </td>
      <td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
  
 </div>
 
 
</div>

