<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%= form_with model: @event do |f| %>

 <div class="form-group">
  <%= f.label :日付 %>
  <%= f.date_select :date, {}, class: 'form-control bootstrap-date-only-width' %>
 </div>

 <div class="form-group">
  <%= f.label :始まり %>
  <%= f.time_select :start, {}, class: 'form-control bootstrap-date-only-width' %>
 </div>

 <div class="form-group">
  <%= f.label :終わり %>
  <%= f.time_select :finish, {}, class: 'form-control bootstrap-date-only-width' %>
 </div>

 <%= f.collection_select :person, User.all, :name, :name %>

 <%= f.submit %>

<% end %>

<div class="container">
 <div class="col-md-10">
  <table class="table">
   <thead>
    <tr>
     <th>日付</th>
     <th>曜日</th>
     <th>担当者</th>
     <th>始まり</th>
     <th>終わり</th>
     <th>ステータス</th>
    </tr>
   </thead>
   <tbody>
    <% @events.each do |event| %>
    <tr>
     <td>
      <%= event.date %>
     </td>

     <td>
      <%= @day[event.date.wday] %>
     </td>

     <td>
     　<%= event.person %>
     </td>

     <td>
      <%= event.start.strftime('%H:%M') %>
     </td>

     <td>
      <%= event.finish.strftime('%H:%M') %>
     </td>

     <td>
     </td>
    </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>

<div class="container">
 <div class="col-md-5">
  <%= form_with model: @user do |f| %>
   <div class="form-group">
    <%= f.label :名前 %>
    <%= f.text_field :name, class: 'form-control' %>
   </div>
   <%= f.submit %>
  <% end %>
  <table class="table">
   <thead>
    <tr>
     <th>名前</th>
    </tr>
   </thead>
   <tbody>
    <% @users.each do |user| %>
    <tr>
     <td>
      <%= user.name %>
     </td>
     <td>
    </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>